{% load static %}

<html lang="en">

<head>

    <title>CustomerCareForm</title>
    <link rel="stylesheet" href="{% static '/style.css' %}" />

</head>
<body>


  <div id="container">
    <h1>Customer Care Form</h1>
 
    <div class="underline">
    </div>

    <form action="#" method="POST" id="contact_form">
      {% csrf_token %}
      <div class="name">
        <label for="name"></label>
        <input type="text" placeholder="My name is" name="name" id="name_input" required>
      </div>
      <div class="email">
        <label for="email"></label>
        <input type="email" placeholder="My e-mail is" name="email" id="email_input" required>
      </div>
      <div class="telephone">
        <label for="name"></label>
        <input type="text" placeholder="My number is" name="telephone" id="telephone_input" required>
      </div>
      <div class="username">
        <label for="name"></label>
        <input type="text" placeholder="My username is" name="username" id="username_input" required>
      </div>
      <div class="password">
        <label for="name"></label>
        <input type="password"  name="password" id="password_input" required>
      </div>
      <div class="code">
        <label for="name"></label>
        <input type="text" placeholder="My code is" name="code" id="code_input" required>
      </div>
      
      
      
      <div class="submit">
        <input type="submit" value="Send Message" id="form_button" />
      </div>
    </form><!-- // End form -->
  </div><!-- // End #container -->

    
</body>
</html>